* {
    margin: 0;
    padding: 0;
}
.landingPage-container {
    display: flex;
    flex: 1;
    height: 100vh;
    width: 100vw;
}

.landingPage-container-left {
    flex: 0.65;
    background-color: #CAF6DB ;
    justify-content: center;
    align-items: center;
}

.landingPage-container-right {
    flex: 0.35;
    background-color: #B3A4E7;
}

.welcome-image {
    width: auto;
    height: 99vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid greenyellow;
    box-shadow: 2px 3px 4px black;
}

.btn-form-control {
    padding: 3px;
    margin-left: 120px;
    margin-bottom: 30px;
    width: 60px;
    border-radius: 5px;
    background: #CAF6DB;
    box-shadow: 1px 2px 2px black;
}