.page {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 300px);
}

.occupancySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.occupancyBar {
    width: 100%;
    align-items: center;
    justify-content: center;

}
.alertsSection {

}
.alertCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.cleaningSection {

}

.maintenanceSection {

}

.maintenanceCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}